td {
	text-align: left;
	vertical-align: top;
	font-family:Verdana;
	font-size:12px;
	color:#ffffff;
	line-height:18px;
}


	
.input{background-color:#fff;
	width:250px;
	height:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#584c3f;
	border:1px solid #7b8490;}
	
.message{background-color:#fff;
	width:250px;
	height:90px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#584c3f;
	border:1px solid #7b8490;}
	



body {margin:0px; padding:0px; background-image:url(images/background.jpg); background-repeat:repeat-x; background-color:#000000;}
.fon_top {background-image:url(images/fon_top.jpg); background-repeat:no-repeat; background-position:center top;}
.fon_menu {background-image:url(images/menu.jpg); background-repeat:repeat-x;}
.header {background-image:url(images/header.jpg); background-repeat:no-repeat;}
.line {background-image:url(images/line.jpg); background-repeat:repeat-y;}
.bottom {background-image:url(images/bottom.jpg); background-repeat:repeat-x;}


.menu         { font-family: Tahoma, serif; font-size:14px; color: #ffffff; text-align:center; display:block; width:132px; padding-top:15px; height:35px; text-decoration:none; float:left; font-weight:bold;}
.menu:link    { font-family: Tahoma, serif; font-size:14px; color: #ffffff; text-align:center; display:block; width:132px; padding-top:15px; height:35px; text-decoration:none; float:left; font-weight:bold;}
.menu:hover   { font-family: Tahoma, serif; font-size:14px; color: #83999f; text-align:center; display:block; width:132px; padding-top:15px; height:25px; text-decoration:none; float:left; font-weight:bold;}
.menu:active  { font-family: Tahoma, serif; font-size:14px; color: #ffffff; text-align:center; display:block; width:132px; padding-top:15px; height:35px; text-decoration:none; float:left; font-weight:bold;}

.menu_bottom         { font-family: Verdana, serif; font-size: 11px; color: #ffffff; text-decoration:none;}
.menu_bottom:link    { font-family: Verdana, serif; font-size: 11px; color: #ffffff; text-decoration:none;}
.menu_bottom:hover   { font-family: Verdana, serif; font-size: 11px; color: #ffffff; text-decoration:underline;}
.menu_bottom:active  { font-family: Verdana, serif; font-size: 11px; color: #ffffff; text-decoration:none;}


.read         { font-family: Verdana, serif; font-size: 12px; color: #83999f; text-decoration:underline;}
.read:link    { font-family: Verdana, serif; font-size: 12px; color: #83999f; text-decoration:underline;}
.read:hover   { font-family: Verdana, serif; font-size: 12px; color: #83999f; text-decoration:none;}
.read:active  { font-family: Verdana, serif; font-size: 12px; color: #83999f; text-decoration:underline;}




.name_top { font-family:Trebuchet MS, serif; font-size:26px; text-transform:uppercase;}
.name { font-family:Arial, serif; font-size:18px; text-transform:uppercase;}


.blue { color:#7bc9d7;}


.s { line-height:5px;}
.pictures { float:left; margin-right:15px;}
.str {margin-right:10px;}
.str1 { list-style-image: url('images/str.jpg'); padding-left:10px; margin-left:10px; line-height:20px; margin-top:0px; margin-bottom:0px;}
.str2 { list-style-image: url('images/str.jpg'); padding-left:20px; margin-left:20px; line-height:20px; margin-top:0px; margin-bottom:0px;}

.copyright {margin-top:15px; padding-bottom:20px; color:#434447; float:left; font-size:11px; margin-left:25px; line-height:14px;}
.position_logo {float:left; padding-left:25px; margin-top:15px; font-family:Times New Roman; font-size:18px; font-weight:bold; text-transform:uppercase; width:300px;}
.slogan {margin-left:30px; margin-top:30px; font-family:Times New Roman; font-size:26px; font-weight:bold; text-transform:uppercase; width:305px; line-height:30px;}
.slogan1 {margin-left:30px; margin-top:20px; font-family:Arial; font-size:14px; color:#8ba8ad; font-weight:bold; text-transform:uppercase; width:305px; line-height:20px;}
.menu_bot {margin-top:20px; padding-bottom:20px; margin-right:25px; color:#424242; font-size:11px; float:right;}
.blok_top {margin-top:30px; margin-left:40px; margin-right:40px; margin-bottom:20px; color:#d8d8d8; font-size:12px; list-style:14px; font-family:Arial;}
.blok {margin-left:25px; margin-right:25px;}